.header{
    text-align: center;
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    background-color: #2d5377;
    color: #fff;
}
.logo-header{
    padding: 1.5em 0;
    width: 14.5em;
}
.menu-header{
    background-color: #272b3a87;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item-menu-header{
    display: inline-block;
}
.item-menu-header a{
    display: inline-block;
    padding: 1.86em 1.42em;
}
@media(min-width :640px){
    .header{
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo-header{
        padding: 2.5em 0;
    }
    .menu-header{
        background-color: transparent;
    }
}